<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pushwoosh.demoapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Phonegap-Push</name>
    <description>
         Sample application with Pushwoosh Phonegap push notifications plugin integrated
    </description>
    <author email="support@pushwoosh.com" href="http://pushwoosh.com">
        Pushwoosh
    </author>
    <content src="index.html" />
    <plugin name="pushwoosh-cordova-plugin">
        <variable name="LOG_LEVEL" value="DEBUG" />
        <variable name="IOS_FOREGROUND_ALERT_TYPE" value="BANNER" />
        <variable name="ANDROID_FOREGROUND_PUSH" value="false" />
    </plugin>
    <access origin="*" />
    <plugin name="pushwoosh-geozones-cordova-plugin" />
</widget>
